{% extends "template.html" %}
{% block conteudo %}
    <div>
                <h2 > {{ usuario.nome }} </h2>
    </div>

    </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Nascimento</th>
                    <th>Altura</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ dados.nome }}</td>
                    <td>{{ dados.nascimento }}</td>
                    <td>{{ dados.altura }}</td>
                    <td>{{ dados.peso }}</td>
                </tr>


            </tbody>
        </table>




{% endblock %}